@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body {
    font: 300 14px/1.5 'Lato', Arial, sans-serif;
    color: #3c3c3c;
    max-width: 1920px;
    height: auto;
}

h1,
h2,
h3,
ht,
h5,
h6 {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    line-height: 1.3;
}

p {
    margin: 0 0 25px;
}

.icon-twitter * {
    fill: inherit;
}

.ba-container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 940px;
}

.ba-header {
    background: #bdc5d7 url(..//img/header.jpg) 50% no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 280px 0 380px;
    min-height: 100vh;
    position: relative;
}

.ba-header__title {
    font-size: 54px;
    margin: 0 0 35px;
}

.ba-header__text {
    font-size: 15px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 2;
}


.ba-logo {
    display: inline-block;
    width: 67px;
    fill: white;
    margin-bottom: 80px;
}

.ba-scroll {
    display: block;
    width: 23px;
    height: auto;
    fill: white;
    position: absolute;
    bottom: 115px;
    left: 50%;
    margin-left: -12px;
}

.ba-scroll:hover {
    opacity: 0.5;
}





/*About*/

.ba-about {
    padding: 160px 0;
}

.ba-box {
    border: 2px solid #3c3c3c;
    border-width: 0 2px 2px;
    padding: 70px 180px 26px;
    text-align: center;
    position: relative;
}

.ba-box:last-child {
    margin-bottom: 0;
}

.ba-box::before,
.ba-box::after {
    display: block;
    content: "";
    position: absolute;
    height: 2px;
    background-color: #3c3c3c;
    width: 20%;
    top: 0;
}

.ba-box::before {
    left: 0;
}

.ba-box::after {
    right: 0;
}

.ba-box__title {
    text-transform: uppercase;
    font-size: 34px;
    position: absolute;
    top: 0;
    left: 20%;
    margin: 0;
    text-align: center;
    width: 60%;
    transform: translateY(-50%);
}

.ba-box__text {
    font-size: 16px;
}





/*Servises*/

.ba-box--services {
    border-color: white;
    color: white;
}

.ba-box--services::before,
.ba-box--services::after {
    background-color: white;
}

.ba-services {
    background: #bdc5d7 url(..//img/services.jpg) 50% no-repeat;
    background-size: cover;
    padding: 125px 0 100px;
}





/*Skills*/

.ba-skills {
    padding: 120px 0;
}

.ba-skill {
    margin-bottom: 100px;
}

.ba-skill__title {
    font-size: 20px;
    font-weight: 400;
}

.ba-skill__icon {
    width: 80px;
    height: auto;
    fill: #3c3c3c;
    margin-bottom: 25px;
}

.ba-skill__text {}





/*Works*/

.ba-works {
    display: flex;
    flex-direction: column;
}

.ba-works__row {
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    max-height: 235px;
    margin-bottom: 10px;
}


.ba-work {

    flex-grow: 1;
    position: relative;
    background-size: cover;
    margin-right: 10px;
}

.ba-work--central {}

.ba-work__pic {
    position: relative;

    z-index: 1;
}

.ba-work__title {
    color: white;
    position: absolute;
    left: 50px;
    bottom: 25px;
    font-size: 34px;
    z-index: 2;
}

.ba-work:hover {
    opacity: 0.5;
}

.ba-work:active {
    color: #3c3c3c;
}



/*Contact us*/

.ba-contact {
    padding: 130px 0 60px;
}

.button-wrap {
    padding: 45px 0 50px;
}

.ba-button--contactus {
    width: 440px;
    height: 60px;
    border-width: 2px;
    border-style: solid;
    border-color: #3c3c3c;
    background-color: #3c3c3c;
    text-transform: uppercase;
    color: #ffff;
    font-size: 16px;
    letter-spacing: 0.16em;
    line-height: 1.3;
    font-weight: 400;
    padding: 10px;
}

.ba-button--contactus:hover {
    opacity: 0.5;
}

.ba-button--contactus:active {
    opacity: 1;
    background-color: white;
    border-width: 3px;
    border-style: solid;
    border-color: #3c3c3c;
    color: #3c3c3c;
    font-weight: 700;
    letter-spacing: 0.50em;
}



/*Footer*/

.ba-footer {
    display: block;
    padding: 20px;
    margin: 0 0 auto;
}

.ba-footer-wrap {
    width: 360px;
    text-align: center;
}

.ba-footer__text {
    float: right;
    transform: translateY(12px);
}

.ba-logo--footer {
    float: left;
    width: 35px;
    fill: #3c3c3c;
    margin-right: 35px;
}