* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
body {
	background-color: #3b3e45;
	font-family: “Trebuchet MS”, Trebuchet, Arial, sans-serif;
	color: white;
	margin: 0 auto;
	width: auto;
	border: 15px solid white;
	font-size: 15px;
}
header {
	padding: 20px;
	text-align: center;
}
h1 {
	font-size: 20px;
}
header p {
	margin-top: 5px;
}
main {
	max-width: 600px;
	margin: 20px auto;
}
li {
	list-style-type: none;
	padding: 15px;
}
li:nth-of-type(odd) {
	background-color: #88839e;
}
li:nth-of-type(even) {
	background-color: #7a7593;
}
label, span {
	margin-left: 5px;
}
span {
	font-size: small;
	opacity: 0.8;
}
li:hover {
	background-color: #625e77;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	opacity: 0.8;
}
li:active {
	background-color: #e08584;
}
footer {
	max-width: 600px;
	margin: 0 auto 5%;
	padding: 15px;
	text-align: center;
}
header, footer {
	background-color: #4a4f55;
	color: #e08584;	
}
input[type="checkbox"]:checked + label {
    text-decoration: line-through;
	opacity: 0.8;
}
